select {
    font-family: 'Poppins', sans-serif;
    padding: 7px;
}

input, p, span, input {
    font-family: 'Poppins', sans-serif;
}

button, label {
    height: 40px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.175s;
}

button:hover {
    background-color: rgb(242, 242, 242);
}

.container {
    margin-bottom: 10px;
    transition: all 0.2s;
}

.container:hover {
    background-color: rgb(240, 232, 210);
}

/* for 16:9 video thumbnail */
.thumbnail {
    width: 150px;
    height: 84.375px;
}

.title {
    margin-bottom: auto;
    margin-top: auto;
}

.remove-btn {
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    transition: all 0.175s;
}

.remove-btn:hover {
    background-color: rgb(240, 252, 232);
}

/* TODO: fix aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
video {
    max-width: 100vw;
    max-height: 80vh;
}

#nojs-notif {
    color: rgb(255, 0, 0);
}